/* @font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Regular.ttf") format("truetype");
} */

body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 30px !important; /* Margin bottom by footer height */
}
